* {
    box-sizing: border-box;
    padding: 0px;
    margin: auto;
}

header nav {
    background-color: gray;
    margin-top: px;
    
}

h1 {
    margin-top: 5;
}

.name {
    color: black;
    position: relative;
    font-size: 300%;
    display: flex;
    top: 5px;
}

img {
    margin-top: 25px;
}
