* {
box-sizing: border-box;
margin: 0;
padding: 0;  
}

body{
    background-color: black;
    font-family: sans-serif;
}
 
.header {
    padding: 20px;
    font-family: sans-serif;
    background-color: black;
}

.header h1 {
    display: inline-block;
    color: aliceblue;
}

.header nav {
    padding-top: 15px;
    margin-right: 25px;
    font-family: sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color:aliceblue ;
    text-decoration: none;
}

img {
    height: 400px;
    width: 400px;
    margin: 25px;
    background-position: center;
}
 h2 {
    color: aliceblue;
    position: absolute;
    top: 145px;
    left: 450px;
    right: 20px;
 }

  article p {
    color: aliceblue;
    position: absolute;
    top: 190px;
    left: 450px;
    display: block;
    width: 800px;
    line-height: 2;
    font-weight: 700;
 }

 h3 {
    color: aliceblue;
    position: absolute;
    left: 30px;
    font-size: x-large;
    top: 65.2%;
 }

 .Work button {
    cursor: pointer;
    display: block;
 }

 .Prework {
    background-color: aqua;
    box-shadow: inset;
    border-color: white;
    padding: 32px 16px;
    border-radius: 12px;   
    position: relative;
    margin-left:7%;
    margin-top: 5%;
    vertical-align: bottom;
 }

 .Prework:hover {
    background-color: black;
    color: aliceblue;
 }
 
 .Refactor {
   position: relative;
    background-color: blue;
    box-shadow: inset;
    border-color: white;
    padding: 32px 8px;
    border-radius: 12px;
    margin-left: 7%;
    vertical-align: bottom; 
 }

 .Future1 {
    background-color: purple;
    box-shadow: inset;
    border-color: white;
    border-radius: 12px;
    padding: 32px 36px;
    margin-left: 7%;


 }

 .Future2 {
    background-color: gray;
    box-shadow: inset;
    border-color: white;
    border-radius: 12px;
    padding: 32px 36px;
    margin-left: 7%;
 }